body {
    padding: 2%;
}

.body-custom {
    background: rgb(194,24,24);
    background: radial-gradient(circle, rgba(194,24,24,1) 0%, rgba(82,7,7,1) 100%);
}

main {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#whe {
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
}

section, form {
    margin-left: 5%;
    margin-right: 5%;
}